<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DormRoomStudios websight</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Clean.css">
</head>

<body>
    <div>
        <div class="header-dark" style="font-size:10px;">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="#"><img class="img-fluid" src="assets/img/logo small.png" width="50" height="100">&nbsp; Dorm Room Studios</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav"></ul>
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"></label></div>
                        </form><span class="navbar-text"></span></div>
        </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="text-center">Hello And Welcome</h1>
                    <h1 class="text-center" style="font-size:33px;letter-spacing:0px;">Welcome to DMStudios</h1>
                    <p class="text-center" style="font-size:34px;color:#a2a8ae;">This is a place holder for a website. I am not entirely sure what to put here but for now this will be ok&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="features-boxed" style="background-color:rgb(43,44,46);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color:rgb(162,168,174);">Info About DMStudios</h2>
            </div>
            <div class="row justify-content-center features" data-aos="fade" data-aos-duration="800">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color:rgb(49,52,55);"><img src="assets/img/OQuinn logo small.png" style="height:115px;">
                        <p class="description">Here is the last website created by DMStudios.</p>
                        <h3 class="name" style="height:35px;">Works everywhere</h3><a href="https://library-sstrtddjuj.now.sh/" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color:rgb(49,52,55);height:325px;"><img class="rounded-circle" src="assets/img/Screenshot_20180407-083601_Instagram.jpg" style="height:116px;">
                        <p class="description">My name is Ryland I am the creator of DMStudios and main developer.</p>
                        <h3 class="name" style="height:35px;">Always available</h3><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="color:rgb(49,52,55);background-color:rgb(49,52,55);height:325px;"><i class="fa fa-list-alt icon"></i>
                        <p class="description">Want to start you own project? Feal free to contact me.</p>
                        <h3 class="name" style="height:35px;">Customizable </h3><a href="#" class="learn-more">Learn more »</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Dorm Room Studios</h3>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="https://www.instagram.com/pickingupchickswithmagictricks/"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Dorm Room Studios © 2018</p>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>

</html>